<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
        <h1 class="fw-bold mb-0 fs-2">Add</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body p-5 pt-0" id="my-form">
        <form class="" id="formTest" onsubmit="return formParser()">
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" id="orderGroup" placeholder="Name of Order" name="orderName">
            <label for="orderGroup">Name of order</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" id="workerGroup" placeholder="Names" name="Workers">
            <label for="workerGroup">Names</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" id="datepicker" class="form-control rounded-3" placeholder="Date">
            <label for="datepicker">Start Date</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" id="datepicker_end" class="form-control rounded-3" placeholder="Date">
            <label for="datepicker_end">End Date</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
          <hr class="my-4">
        </form>
        <script>
          function formParser(){
              //var data = new FormData(document.getElementById("my-form"));
              var data = document.getElementById("orderGroup").value;
              var data2 = document.getElementById("workerGroup").value;
              let time_data_start = document.getElementById("datepicker").value;
              let time_data_end = document.getElementById("datepicker_end").value;
              var json_data = {
                "order": data,
                "workers": data2,
                "start_time": time_data_start,
                "end_time": time_data_end
              };
              var xhr = new XMLHttpRequest();
              xhr.open("POST", "/create_event");
              xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
              xhr.send(JSON.stringify(json_data));
              console.log(data + "\n" + data2);
              return false;
          }
        </script>
        <script>
          var picker = new Pikaday({
            field: document.getElementById('datepicker'),
            format: 'DD/MM/YYYY',
            firstDay: 1,
            i18n: {
              previousMonth: 'Předchozí měsíc',
              nextMonth: 'Další měsíc',
              months: ['Leden','Únor','Březen','Duben','Květen','Červen','Červenec','Srpen','Září','Říjen','Listopad','Prosinec'],
              weekdays: ['Neděle','Pondělí','Úterý','Středa','Čtvrtek','Pátek','Sobota'],
              weekdaysShort: ['Ne','Po','Út','St','Čt','Pá','So']
            },
            onSelect: function(date) {
              const dt = document.getElementById('datepicker').value
              let new_str = dt.split(' ');
              const month = new_str[1];
              const day = new_str[2];
              const year = new_str[3];
              months = {
                  "Jan": 1,
                  "Feb": 2,
                  "Mar": 3,
                  "Apr": 4,
                  "May": 5,
                  "Jun": 6,
                  "Jul": 7,
                  "Aug": 8,
                  "Sep": 9,
                  "Oct": 10,
                  "Nov": 11,
                  "Dec": 12
              };
              const new_month = months[month]
              document.getElementById("datepicker").value = day + "/" + new_month + "/" + year
              },});
        </script>
        <script>
          var picker = new Pikaday({
            field: document.getElementById('datepicker_end'),
            format: 'DD/MM/YYYY',
            firstDay: 1,
            i18n: {
              previousMonth: 'Předchozí měsíc',
              nextMonth: 'Další měsíc',
              months: ['Leden','Únor','Březen','Duben','Květen','Červen','Červenec','Srpen','Září','Říjen','Listopad','Prosinec'],
              weekdays: ['Neděle','Pondělí','Úterý','Středa','Čtvrtek','Pátek','Sobota'],
              weekdaysShort: ['Ne','Po','Út','St','Čt','Pá','So']
            },
            onSelect: function(date) {
              const dt = document.getElementById('datepicker_end').value
              let new_str = dt.split(' ');
              const month = new_str[1];
              const day = new_str[2];
              const year = new_str[3];
              var months = {
                "Jan": 1,
                "Feb": 2,
                "Mar": 3,
                "Apr": 4,
                "May": 5,
                "Jun": 6,
                "Jul": 7,
                "Aug": 8,
                "Sep": 9,
                "Oct": 10,
                "Nov": 11,
                "Dec": 12
              };
              const new_month = months[month]
              document.getElementById("datepicker_end").value = day + "/" + new_month + "/" + year;
              },});
        </script>
      </div>
    </div>
  </div>
</div>