.stoke{
    font-family: 'Stoke', serif;
    font-size: 80px;
}

.overpass{
    font-family: 'Overpass Mono', monospace;
    font-size: 15px;
}

.newheader{
    font-size: 18px;
    font-family: 'Old Standard TT', serif;
}

hr{
  visibility: hidden;
}

.myPicture{
  /* used to handle picture size in "second"*/
  width: 500px;
  height: 500px;
}

#strikethrough-text.strikethrough{
  /* used by JQuery on change of checkbox in "index" */
  text-decoration: line-through;
}