<div
  class="fixed top-0 left-0 h-screen w-16 flex flex-col bg-gray-900 text-white shadow"
  id="zin"
>
  <app-icon [iconName]="search" [text]="searchText"></app-icon>
  <app-icon [iconName]="settings" [text]="searchText"></app-icon>
  <app-icon
    [iconName]="add"
    [text]="addTooltipText"
    (click)="openDialog()"
  ></app-icon>
  <app-icon [iconName]="delete" [text]="searchText"></app-icon>
  <app-icon [iconName]="publish" [text]="searchText"></app-icon>
</div>
<app-modal></app-modal>
<!-- search settings add delete publish -->
